cards {
  width: 1184px;
  height: 442px;
  top: 1877px;
  left: 48px;
  gap: 0px;
  opacity: 0px;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 284px);
  justify-content: center;
}
